/**
 * @name BMW Neon (Updated from Request)
 * @author DevilBro
 * @version 1.0.5
 * @description Allows you to use a background image without greatly altering the basic look of Discord.
 * @source https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground
 * @authorId 278543574059057154
 * @BDEditor BasicBackground
*/

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');

:root {
  --background: url('https://cdn.discordapp.com/attachments/1253049073871884369/1353893263127613523/bmw.jpg?ex=67e34edc&is=67e1fd5c&hm=2f2cca6a8a2dc8364979329b34d70154a014597d75f0fb4270946ad0d6b02bfd&');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: url('https://cdn.discordapp.com/attachments/1253049073871884369/1353893263127613523/bmw.jpg?ex=67e34edc&is=67e1fd5c&hm=2f2cca6a8a2dc8364979329b34d70154a014597d75f0fb4270946ad0d6b02bfd&');
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 0,0,0;
  --accentcolor: 190,78,180;
  --backdrop: rgb(0,0,0,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0.08;
  --messagetransparency: 0.24;
  --guildchanneltransparency: 0.18;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --font: Comic Neue;
  --textbrightest: 208,113,225;
  --textbrighter: 156,95,167;
  --textbright: 140,76,151;
  --textdark: 194,117,207;
  --textdarker: 155,96,165;
  --textdarkest: 178,113,189;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
  --HSL-server-icon-size: 45px;
  --HSL-server-spacing: 10px;
}

/* Any custom CSS below here */


